
<div>

    <ul id="usersul">
    <h1 id="reviewerstitle"> The Amateur Wine Reviewers </h1>
    <% @users.each do |details| %>
    <li>
        <div>
            <div class="glass">
                <p class="glasslabel"><%= details.username %></p>
                <p class="glassfav"><%= details.favorite_wine %></p>
                <p><%= link_to "View User Activities", user_path(details)%> </p>
                
            </div>
        </div>
    
    
    </li>
    
    <%end%>
    </ul>

</div>