
<div class="userview">
    <div id="userdetails">
        <p>Username: <%= @user.username %></p>
    
        <p>Favorite Wine: <%= @user.favorite_wine %></p> 
    </div>   

    <div id="useredit" class="alllinks">
        <% if @user == current_user %>

        <p><%= link_to "Edit Info", edit_user_path(@user) %> </p>

        <% end %>
    </div>
</div>
