/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* to use fonts in current head: font-family: 'Livvic', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Poiret One', cursive; */
    * {
        font-family: 'Poiret One', cursive;
    }

    body {
        background-color: rgb(47, 14, 26);
     
    ),
    }

    
   
    /* running header and navbar */
    /* .box li {
        display: inline-block;
 
    } */


  

    #navbar {
        background-color: rgb(242, 193, 189);
        border-radius: 25px;
        

    }

    #navbaritems {
       
      
       
        
    }

 
   
    #title {
        margin-left: 40%;
        padding-top: 20px;        
        
    }
  

    /* navbar/header dropdown menus */
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-bottom: 20;
        padding-left: 325px;
        overflow: hidden;
        background-color: rgb(248, 223, 221);
        font-weight: bold;
       
        
        
        
      }
      
      li {
        float: left;
        
        
      }
      
      li a, .dropbtn {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
      }
      
      li .dropdown:hover .dropbtn {
        
        background-image: linear-gradient(to top, rgb(117, 15, 18) , rgb(242, 193, 189)); /* Standard syntax (must be last) */
      }

      
      li.dropdown {
        display: inline-block;
        

      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        
        background-image: linear-gradient(to top, rgb(32, 9, 19) , rgb(117, 15, 18)); /* Standard syntax (must be last) */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: center;
        
        
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        
      }
      
      .dropdown-content a {
        color: rgb(242, 193, 189);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        text-align: center;
      }
      
      .dropdown-content a:hover {
        background-color: rgba(242, 193, 189, 0.247);

        
          
          
        }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

     





     /* main user interactions and forms, buttons */
      .userview {       
        padding: 70px;
        margin-top: 100px;
        margin-left: 400px;
        margin-right: 300px;
        
        border-radius: 25px;
        text-align: center;
        background-color: rgb(161, 175, 35);
        background-image: linear-gradient(to right, rgb(240, 252, 138), rgb(31, 34, 0));
        

    }
    /* original background ^ userview: rgba(243, 234, 157, 0.781) */
    /* current, bright champagne background gradient */
    /* current champagne bubble gradient background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25)) */
    /* other champgane effect bottom 186, 178, 95 */
    input[type=text], [type=password], [type=number], #wine_style, #wine_story, #review_body, select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 25px;
        box-sizing: border-box;
        font-size: 20px;
      }

   

      input[type=submit], #useredit a {
        max-width: 400px;
        min-width: 100px;
        background-color: rgb(230, 236, 177);
        background-image: url("corklarge.jpg");
        background-repeat: no-repeat;
        box-shadow: 10px 10px 5px rgba(80, 61, 61, 0.507);
        font-weight: bolder;
        font-size: 35px;
        color: rgb(26, 17, 17);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 14px;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgb(231, 230, 222), 0 0 25px rgb(149, 149, 255), 0 0 5px rgb(89, 112, 241);
        
      }

      #userdetails {
        padding: 10px;
        font-size: 25px;
        
      }

      #googlein p {
        /* maybe also could have tried src: url() */
        width: 100px;
        height: 50px;
        /* border: 0; */
      }      

    .alllinks a  {
        text-decoration: none;
    }

    .alllinks a:visited {
        text-decoration: none;
        color: black;
      }


      /* Styling mini wine bottles */


      .wholebottle {
        margin: 0;
        padding: 0;
        max-width: 150px;
        
        
      }
      
      .neck {
        background-image: linear-gradient(to left, rgb(120, 120, 120), rgb(0, 0, 0),  rgb(120, 120, 120), rgb(0, 0, 0));
        margin: 0;
        padding: 0;
        height: 30px;
        margin-left: 52px;
        margin-right: 52px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        
      }
      
      
      
      
      .lip {
        margin: 0;
        padding: 0;
        
        height: 4px;
        background-color: #2f4353;
      background-image: linear-gradient(315deg, #2f4353 0%, #ccab52 74%);
        margin-left: 52px;
        margin-right: 52px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
       
      
      }
      
      .foilcutline {
        background-color: #2f4353;
      background-image: linear-gradient(315deg, #2f4353 0%, #ccab52 74%);
        height: 8px;
        margin: 0;
        padding: 0;margin-left: 50px;
        margin-right: 50px;
        border-radius: 2px;
        
        
      }
      
      p.foil {
        background-color: #2f4353;
      background-image: linear-gradient(315deg, #2f4353 0%, #ccab52 74%);
        height: 40px;
        margin: 0;
        padding: 0;
        margin-left: 52px;
        margin-right: 52px;
        
      }
      
      .main {
        background-image: linear-gradient(to left, rgb(120, 120, 120), rgb(0, 0, 0),  rgb(120, 120, 120), rgb(0, 0, 0));
        margin: 0;
        padding: 0;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 150px 30px;;
        border-bottom-right-radius: 150px 30px;
        min-height: 200px;
        text-align: center;
        margin-top: -16px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      } /* linear gradient current effect dark, light, dark */
      
      .label {
        padding-top: 20px;
        
      }
      
      
      
      
      #winename {
        font-family: 'Satisfy', cursive;
        color: rgb(191, 134, 11);
        font-size: 20px;
      }

      #vintage, #winestyle {
        color: rgb(191, 134, 11); 
      }

      #winesul {
        padding-top: 10px;
        padding-bottom: 10px;
        background-image: url("crates2.jpg");
        background-repeat: no-repeat;
        background-color: black;
        
      }

      #winesli a {
        background-image: linear-gradient(to left, rgb(120, 120, 120), rgb(0, 0, 0),  rgb(120, 120, 120), rgb(0, 0, 0));
        color: rgb(191, 134, 11);
        border-radius: 25px;
      }

      #winesli a:hover {

        background-image: linear-gradient(to left, rgba(120, 120, 120, 0.603), rgba(0, 0, 0, 0.603),  rgba(120, 120, 120, 0.603), rgba(0, 0, 0, 0.603));



        

      }
      
      
      
      
      
      
      


