

<ul id="reviewsul">
<div><h1>The Wine Reviews</h1>
    <% @reviews.each do |details| %>
    <li id="reviewsli" >
            
            <p><%= details.title %></p>
            <p><%= link_to "View this Review", review_path(details)%> </p>           
        
        
            
    </li>
    <% end %>
    </ul>
    
</div>