<h1> list all wines </h1>

<div>
    <% @wines.each do |details| %>
    <div>
        <p><%= details.wine_name %></p>            
        <p><%= details.vintage %></p>            
        <p><%= details.style %></p>
        <%= link_to "View this Wine", wine_path(details)%> 
            
    </div>
    <% end %>
    
</div>